/* WHOLE-PAGE */
body {
  background-color: rgb(180, 178, 178);
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
  /*background-color: #f1f1f1;*/
  padding: 20px;
  text-align: center;
}

/* CONTAINER */
.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  border-radius: 25px;
  background: rgb(228, 228, 228);
  padding: 20px; 
  border: 3px solid green;
  /*height: 150px;*/
  width: 90%;
  max-width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* CONSOLE */
.console {
  grid-column: 1 / span 3;
  grid-row: 1;
  color:white;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 25px;
  background: rgb(0, 0, 0);
  padding: 15px;
  height: 150px;
  /*width: 90%;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* COMMAND PROMPT */
.cmdprompt {
  grid-column: 1;
  grid-row: 2;
}
.cmdprompt > input[type=text] {
  /* Adapted from https://www.w3schools.com/css/css_form.asp */
  width: 100%;
  padding: 12px 20px;
  margin: px 0;
  /*display: inline-block;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sendbtn {
  grid-column: 2;
  grid-row: 2;
}
.sendbtn > input[type=submit] {
  width:100%;
  max-width: 90px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /*float: left;*/
}
.sendbtn > input[type=submit]:hover {
  background-color: #45a049;
}



.center {
  margin: auto;
  padding: 10px;
}
/* Adapted from https://www.w3schools.com/css/css_rwd_grid.asp */
/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  height: 100%;
  float: left;
  padding: 15px;
  /* Border is just for debugging purposes; can be commented-out when not needed
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} */